{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% trans 'Dashboard' %} | {% trans 'Qbeeez' %} {% endblock title %}
{% load static %}

{% block header %}
{% endblock %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">{% trans 'Home' %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans 'Dashboard' %}</li>
    </ol>
</nav>

{% include 'snippets/messages.html' %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="title-1">{% trans 'Tableau de bord' %}</h1>
    <div class="dropdown">
        <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fas fa-cog"></i>
        </button>
        <div class="dropdown-menu">
            <h6 class="dropdown-header">{% trans 'Paramètres du tableau de bord' %}</h6>
            <button class="dropdown-item active" type="button">{% trans 'Afficher la grille' %}</button>
            <button class="dropdown-item" type="button">{% trans 'Afficher le tableau' %}</button>
            <hr>
            <button class="dropdown-item" type="button">{% trans 'Gérer le tableau de bord' %}</button>
        </div>
    </div>
</div>

<div class="row users-count px-3">
    <div class="col-6 col-md-3 mb-3 px-2">
        <div class="card-count p-3">
            <h3><i class="fas fa-users bg-light-aqua"></i></h3>
            <div class="text-right">
                {% trans 'Étudiants' %}
                <h2>{{ student_count }}</h2>
            </div>
        </div>
    </div>

    <div class="col-6 col-md-3 mb-3 px-2">
        <div class="card-count p-3">
            <h3><i class="fas fa-users bg-light-red"></i></h3>
            <div class="text-right">
                {% trans 'Administrateurs' %}
                <h2>{{ superuser_count }}</h2>
            </div>
        </div>
    </div>

    <div class="col-6 col-md-3 mb-3 px-2">
        <div class="card-count p-3">
            <h3><i class="fas fa-book bg-light-purple"></i></h3> <!-- Changed color to match students -->
            <div class="text-right">
                {% trans 'Cours' %}
                <h2>{{ course_count }}</h2>
            </div>
        </div>
    </div>
    
    <div class="col-6 col-md-3 mb-3 px-2">
        <div class="card-count p-3">
            <h3><i class="fas fa-clipboard-list bg-light-purple"></i></h3> <!-- Changed color to match students -->
            <div class="text-right">
                {% trans 'Programmes' %}
                <h2>{{ program_count }}</h2>
            </div>
        </div>
    </div>
    



    <div class="col-md-4">
        <i class="fas fa-expand-alt"></i>
        <canvas id="gender"></canvas>
    </div>
    
    <div class="col-md-6 p-2">
        <div class="card w-100 h-100 p-3">
            <h5>{% trans 'Dernières activités' %}</h5>
            <ul class="ps-2 small">
                {% for log in logs %}
                <li>{{ log.message }} <span class="text-muted">- {{ log.created_at }}</span></li>
                {% empty %}
                <li>{% trans 'Aucune activité récente' %}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<br>



{% endblock content %}

{% block js %}

<script src="{% url 'javascript-catalog' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
<script>
	$('.fa-expand-alt').click(function () {
		if ($(this).parent('.chart-wrap').parent('.col-md-6').hasClass('expand')) {
			$('.col-md-6.expand').removeClass('expand');
		}
		else {
			$('.col-md-6.expand')?.removeClass('expand');
			$(this).parent('.chart-wrap').parent('.col-md-6').addClass('expand');
		}
	})
</script>
<script>
    const malesCount = {{ males_count }};
    const femalesCount = {{ females_count }};

    $(document).ready(function () {

        // Setup - dynamic months (can be passed from the backend if needed)
        const labels = [
            gettext('January'),
            gettext('February'),
            gettext('March'),
            gettext('April'),
            gettext('May'),
            gettext('June'),
        ];

        // Data for website traffic chart
        const trafficData = {
            labels: labels,
            datasets: [
                {
                    label: gettext('Students'),
                    backgroundColor: 'rgba(86, 224, 224, 0.5)',
                    borderColor: 'rgb(86, 224, 224)',
                    hoverBorderWidth: 3,
                    data: [0, 10, 5, 2, 20, 30], // Replace with dynamic data as necessary
                },
                {
                    label: gettext('Teachers'),
                    backgroundColor: 'rgba(253, 174, 28, 0.5)',
                    borderColor: 'rgb(253, 174, 28)',
                    hoverBorderWidth: 3,
                    data: [20, 0, 15, 4, 6, 4], // Replace with dynamic data as necessary
                },
                {
                    label: gettext('Admins'),
                    backgroundColor: 'rgba(203, 31, 255, 0.5)',
                    borderColor: 'rgb(203, 31, 255)',
                    hoverBorderWidth: 3,
                    data: [85, 30, 34, 20, 20, 55], // Replace with dynamic data as necessary
                },
                {
                    label: gettext('Staffs'),
                    backgroundColor: 'rgba(255, 19, 157, 0.5)',
                    borderColor: 'rgb(255, 19, 157)',
                    hoverBorderWidth: 3,
                    data: [45, 75, 70, 80, 20, 30], // Replace with dynamic data as necessary
                }
            ]
        };

        // Create traffic chart
        const traffic = document.getElementById('traffic');
        if (traffic) {
            new Chart(traffic, {
                type: 'line',
                data: trafficData,
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: gettext('Website Traffic'),
                            padding: 15,
                            font: { size: 18 },
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: gettext('Users'),
                                font: { size: 14 },
                            }
                        },
                        x: {
                            title: {
                                display: true,
                                text: gettext('Months'),
                                font: { size: 14 },
                            }
                        }
                    }
                }
            });
        }

        // Data for gender distribution chart
        const dataGender = {
            labels: [
                gettext('Male'),
                gettext('Female')
            ],
            datasets: [{
                label: gettext("Students Gender Dataset"),
                data: [malesCount, femalesCount],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)'
                ],
                hoverOffset: 4
            }]
        };

        // Create gender chart
        const gender = document.getElementById('gender');
        if (gender) {
            new Chart(gender, {
                type: 'pie',
                data: dataGender,
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: gettext('Students Gender'),
                            padding: 20
                        }
                    }
                }
            });
        }

        // Data for lecturer qualifications chart
        const dataQualification = {
            labels: [
                gettext('PhD'),
                gettext('Masters'),
                gettext('BSc')
            ],
            datasets: [{
                label: gettext("Lecturer Qualifications Dataset"),
                data: [24, 30, 26], // Replace with dynamic data as necessary
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 193, 7)',
                    'rgb(54, 162, 235)'
                ],
                hoverOffset: 4
            }]
        };

        // Create lecturer qualifications chart
        const ethnicity = document.getElementById('ethnicity');
        if (ethnicity) {
            new Chart(ethnicity, {
                type: 'pie',
                data: dataQualification,
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: gettext('Lecturer Qualifications'),
                            padding: 20
                        }
                    }
                }
            });
        }

        // Data for student levels chart
        const dataLevels = {
            labels: [
                gettext('PhD'),
                gettext('Masters'),
                gettext('BSc')
            ],
            datasets: [{
                label: gettext("Students Level"),
                data: [14, 30, 56], // Replace with dynamic data as necessary
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 193, 7)',
                    'rgb(54, 162, 235)'
                ],
                hoverOffset: 4
            }]
        };

        // Create student levels chart
        const language = document.getElementById('language');
        if (language) {
            new Chart(language, {
                type: 'pie',
                data: dataLevels,
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: gettext('Student Levels'),
                            padding: 20
                        }
                    }
                }
            });
        }
    });
</script>


{% endblock %}