{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ title }} | {% trans 'Système de gestion de l\'apprentissage' %}{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{% trans 'Accueil' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans 'Panneau d\'administration' %}</li>
    </ol>
</nav>  

<div class="title-1"><i class="fas fa-user-tie"></i>{% trans 'Panneau d\'administration' %}</div>
<br>
<br>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-circle"></i>{{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i>{{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="border-bottom">
                {% trans 'Gérer' %}<a class="link" href="{% url 'lecturer_list' %}">{% trans 'Enseignants' %} &raquo;</a>
                <p class="text-muted">CRUD (Créer, Lire, Mettre à jour &amp; Supprimer) enseignants</p>
            </div>

            <div class="border-bottom mt-3">
                {% trans 'Gérer' %}<a class="link" href="{% url 'student_list' %}">{% trans 'Étudiants' %} &raquo;</a>
                <p class="text-muted">CRUD (Créer, Lire, Mettre à jour &amp; Supprimer) {% trans 'étudiants' %}</p>
            </div>

            <div class="border-bottom mt-3">
                {% trans 'Gérer' %}<a class="link" href="{% url 'session_list' %}">{% trans 'Session' %} &raquo;</a>
                <p class="text-muted">CRUD (Créer, Lire, Mettre à jour &amp; Supprimer) {% trans 'sessions' %}</p>
            </div>

            <div class="mt-3">
                {% trans 'Gérer' %}<a class="link" href="{% url 'semester_list' %}"> {% trans 'Semestre' %} &raquo;</a>
                <p class="text-muted">CRUD (Créer, Lire, Mettre à jour &amp; Supprimer) {% trans 'semestres' %}</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="border-bottom">
                {% trans 'Ajouter un cours' %} &amp; {% trans 'Supprimer' %}
                <label class="switch switch-text switch-success switch-pill" style="float: right;">
                <input type="checkbox" class="switch-input" checked="true">
                <span data-on="On" data-off="Off" class="switch-label"></span>
                <span class="switch-handle"></span>
                </label>
                <p class="text-muted">{% trans 'Basculer' %} 
                    <i class="info-text py-0 px-2 bg-success text-light">ON</i> ou <i class="info-text py-0 px-2 bg-danger text-light">OFF</i>
                </p>
            </div>

            <div class="border-bottom mt-3">
                {% trans 'Gérer' %}<a class="link" href="{% url 'programs' %}"> {% trans 'Programmes' %} &amp; {% trans 'Cours' %} &raquo;</a>
                <p class="text-muted">CRUD (Créer, Lire, Mettre à jour &amp; Supprimer) {% trans 'programmes' %}</p>
            </div>

            <div class="border-bottom mt-3">
                {% trans 'Gérer' %}<a class="link" href="{% url 'course_allocation_view' %}"> {% trans 'Allocations de cours' %} &raquo;</a>
                <p class="text-muted">CRUD (Créer, Lire, Mettre à jour &amp; Supprimer) {% trans 'allocations de cours' %}</p>
            </div>

            <div class="mt-3">
                {% trans 'Gérer' %}<a class="link" href="{% url 'home' %}"> {% trans 'Actualités' %} &amp; {% trans 'Événements' %} &raquo;</a>
                <p class="text-muted">CRUD (Créer, Lire, Mettre à jour &amp; Supprimer) {% trans 'Actualités' %} &amp; {% trans 'Événements' %}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
